

<div>

<p><strong>Magic 8 Ball</strong></p>

<form action='/magic8ball/getanswer'>
<input type="text" name='question' placeholder = 'enter any question here' />
<button>Submit </button>
</form>
<p>The Magic 8 Ball  has answer to all the questions.</p>

</div>
