<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Ukulele</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <nav>
    <a href="/">Home</a>
    <a href="/uke">All Ukes</a>
    <a href="/uke/new">New Ukes</a>
  </nav>

  <%= yield %>

</body>
</html>
