<h1> Add new uke to my collection </h1>

<form action = '/uke' method = "post">
<input type="text" name = 'name' placeholder = 'name '>
<input type="text" name = 'family' placeholder ='family'>
<input type="text" name = 'size' placeholder ='size'>
<input type="url" name = 'image' placeholder = 'image'>
<button> Create Uke </button>
</form>
