body{
  text-align: center;
  font-size: 18px;
  font-family:sans-serif;
  margin-top: 280px;
  background-image: url(m.png);
  background-size: cover;
}


select {
   background: url(http://i62.tinypic.com/15xvbd5.png) no-repeat 96% 0;
   height: 35px;
   overflow: hidden;
   width: 250px;
   font-size: 12px;
   border-color: hotpink;
}


#route{
  width:500px;
  margin: 60px auto;
  text-align: left;
}
