
<div>
<h1>Welcome to Games on Rails </h1>

</br>

<p><a href ="/magic8ball" class="styleit"> Play Magic 8 Ball ♧ </a></p>
<p><a href ="/secretnumber" class="style2"> Play Secret Number ☆ </a></p>
<p><a href ="rps" class="styleit"> Play Rock Paper Scissors ۞ </a></p>
</div>
