
<div>

<form action="/oceans" method="post">
  <label for="">Name:</label>
  <input type="text" name="ocean[name]">
  <label for="">Image:</label>
  <input type="url" name="ocean[image]">
  <label for="">Area:</label>
  <input type="text" name="ocean[area]">
  <label for="">Depth:</label>
  <input type="text" name="planet[depth]">


  <button>Create Ocean</button>
</form>

</div>
