

<div>
<p><strong>Secret Numbers</strong></p>

<form action='/secretnumber/getvalidation'>
<input type="text" name='number' placeholder = 'enter any number here from 1 to 10' />
<button>Submit </button>
</form>
<p> Give me a number I will tell you if I am  having the number my mind *_* </p>
</div>
