<div>

<p><strong>Rock Paper Scissors</strong></p>
<form action='/rps/:throw' >
<input type="text" name='throw' placeholder = 'enter your choice : Rock, Paper or Scissors' />
<button>Throw </button>
<p>You know the rule ~</p>
</form>
</div>
