<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> movie</title>
  <link rel = 'stylesheet' href = '/css/style.css'>
</head>
<body>
<h1>Sinatra Movie </h1>
  <%= yield %>

</body>
</html>
