// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div{
     height: 250px;
     width: 250px;

     text-align: center;
     color: white;
     font-size-adjust: auto;
     text-align:center;
     background-image: url('/assets/1.gif');
     background-size: cover;
     background-position: center;
     float:left;
     font-family: fantasy;
}


body{

    background-color: black;

}
