<!--
<nav class="navbar navbar-inverse">

  <nav class ='container'>

  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"> Movie Finder </a>
  </div>

  <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
           <li class ="active"><a href="#">My movie</a></li>
           <li><a href="#">Find Cinema</a></li>
           <li><a href="#">Buy Ticket</a></li>
      </ul>
  </div>

</nav>

</nav> -->

<div class="container">

  <div class="row">

    <div class="col-md-4 box1">
      <p class = "fancy"> Enter Movie name here ⇣</p>
      <input >
      <button type="button" name="button">Get the movie</button>
      </input>
    </div>

    <div class="col-md-4 box2">
       <p id="movietitle"></p>
       <img id="poster" src=" " alt="" />
    </div>

    <div class="col-md-4 box3">

        <p id="plot"></p>
    </div>

  </div>

</div>


<!-- <h1>Movie Finder</h1>

<input >
<button type="button" name="button">Get the movie</button>
</input>

 <div class="titlepost">
  <p id="movietitle"></p>
  <img id="poster" src=" " alt="" />
</div>

<div class="plot">
  <p id="plot"></p>
</div> -->
